.songSelectContainer {
    /* border: 3px solid #231f3b; */
    border-radius: 4px;
    width: 60%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #6e61b9;
}

.grid-container{
    display: flex;
    padding: 5px;
}

.grid-item {
    border-bottom: 3px solid #231f3b;
    width: 50%;
}

.selectSongDiv {
    /* border: 3px solid #f1f1f1; */
    width: 160px;
    height: 160px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25px;
    margin-right: 5%;
    /* align-items: center;
    justify-content: center; */
}

.songItem2 {
    display: flex;
    align-items: center;
    width: 50%;
}

.song{
    display: flex;
}
.songDiv {
    border: 3px solid #f1f1f1;
    width: 100%;
    height: 160px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25px;
    margin-right: 5%;
}

.songListText {
    margin-top: 5px;
}

.songListButton {
    width: 160px;
    padding: 6px;
}

#linkButton {
    text-decoration: none;
}

#songSelectionHeading {
    padding-bottom: 5px;
    padding-top: 5px;
}

.buttonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalLink {
    color: white !important
}

.coverImgModal {
    height: 350px;
}

.coverImg {
    height: 100%;
    width: 100%;
    margin: auto;
}

#selectSongBackgroundImage {
    background-image: url("../../assets/images/background\ images/7.jpg");
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   }

#selectSongBackgroundTexture {
    background-image: url("../../assets/images/background\ images/purple_texture.jpg");
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
   }

   
#selectSongSelectionRow {
    width: 100%;
    justify-content: space-between;
    padding: 15px;
}

.card {
    width: 50% !important;
    align-items: center !important; 
}

#textDiv {
    width: 100%
}   