
/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

#profilePic {
    height: 200px;
}

.profileDiv{
    background-image: url("../../assets/images/background\ images/8.jpg");

}

#uploadButton {
    margin: 5px;
}

#inputButton {
    border-radius: 4px;
    color: rgb(40, 150, 150);
    text-align: center;
}

#profilePictureText {
    text-align: center;
}